.logoName {
  font-family: 'Chakra Petch', sans-serif !important;
}

.navBtn {
  font-size: .9rem;
  max-width: 150px;
  color:  var(--blue-text) !important;
  border-width: 1.5px;
  border-color:  var(--blue);
  border-radius: 30px 30px 30px 30px / 25px 25px 25px 25px;
}

.navBtn:hover {
  border-color: var(--blue);
  background-color: var(--blue);
}

.logoutBtn {
  font-size: .9rem;
  max-width: 150px;
  border-width: 1.5px;
  border-radius: 30px 30px 30px 30px / 25px 25px 25px 25px;
}
