.navBtn {
  font-size: .9rem;
  max-width: 150px;
  border-color: var(--blue);
  color: var(--bs-secondary);
  border-radius: 30px 30px 30px 30px / 25px 25px 25px 25px;
}

.navBtn:hover {
  border-color: var(--blue);
  background-color: var(--blue);
}

.logoutBtn {
  font-size: .9rem;
  max-width: 150px;
  border-radius: 30px 30px 30px 30px / 25px 25px 25px 25px;
}
