@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');

:root {
  --light: #f8f9fa;
  --dark: #070707;
  --light-grey: #4f4f4f;
  --blue: dodgerblue;
  --blue-text: rgb(25, 119, 213);
  --modal-dark: #0b0e0f;
}

body {
  box-sizing: border-box;
  margin: 2px;
  padding: 5px 15px;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  padding: 10px 20px;
}

.btn-primary {
  background-color: var(--blue);
  border-color: var(--blue);
}

.btn-outline-primary {
  color: var(--blue-text) !important;
  border-color: var(--blue);
}

.btn-outline-primary:hover {
  color: var(--light) !important;
  background-color: var(--blue);
  border-color: var(--blue);
}

.form-check-label {
  font-style: italic;
}

.form-check-input {
  font-size: small;
  font-style: italic;
  border-color: var(--blue) !important;
  box-shadow: none !important;
  outline: none !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%2386b7fe%27/%3e%3c/svg%3e") !important;
}

.form-check-input:checked {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
  box-shadow: none !important;
  outline: none !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23ffffff%27/%3e%3c/svg%3e") !important;
}
