/* AppHeader */
.nav-btn {
  color: var(--bs-secondary);
  border-color: dodgerblue;
  border-radius: 30px 30px 30px 30px / 25px 25px 25px 25px;
}

.nav-btn:hover {
  border-color: dodgerblue;
  background-color: dodgerblue;
}

#logout-btn {
  border-radius: 30px 30px 30px 30px / 25px 25px 25px 25px;
}

/* Forms */
.form-note {
  font-size: .8rem;
  font-style: italic;
}

/* Dashboard */
#dash-container {
  margin: 0 auto;
  text-align: center;
}

.dash-card {
  margin: 2rem;
}
