/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --light: #f8f9fa;
  --dark: #070707;
  --modal-dark: #0b0e0f;
}

body {
  box-sizing: border-box;
  margin: 2px;
  padding: 5px 15px;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  padding: 10px 20px;
}

.btn-primary {
  border-color: dodgerblue;
  background-color: dodgerblue;
}

