@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

.bannerSuccess {
  font: italic 300 1.1em 'Noto Sans KR', sans-serif;
  background-color: var(--banner-success-bkg);
  border-color: var(--banner-success-bdr);
  border-radius: 15px;
  max-width: 30%;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
  text-transform: capitalize;
}
